datadir="/tmp"

admin_variables =
{
	admin_credentials="admin2:admin2"
	mysql_ifaces="0.0.0.0:6032"
	refresh_interval=2000
}

mysql_variables =
{
	# connect_timeout_server=5000
	# default_charset="utf8"
	# have_compress=false
	# monitor_history=300000
	# monitor_connect_interval=120000
	# monitor_connect_timeout=200
	# monitor_ping_interval=60000
	# monitor_ping_timeout=150
	# monitor_username="root"
	# monitor_password="root"
	# monitor_query_variables="SELECT * FROM INFORMATION_SCHEMA.GLOBAL_VARIABLES"
	# monitor_query_status="SELECT * FROM INFORMATION_SCHEMA.GLOBAL_STATUS"
	# monitor_query_interval=30000
	# monitor_query_timeout=150
	# monitor_timer_cached=false
	# ping_interval_server=2000
	# ping_timeout_server=150
	# default_schema="testing"
	# poll_timeout=1000
	# poll_timeout_on_failure=150
	# server_capabilities=47627
	# server_version="5.7.19"
	# commands_stats=true
	# servers_stats=false
	# stacksize=2097152
	# threads=2

	threads=4
	max_connections=2048
	default_query_delay=0
	default_query_timeout=36000000
	have_compress=true
	poll_timeout=2000
	# interfaces="0.0.0.0:6033;/tmp/proxysql.sock"
	interfaces="0.0.0.0:6033"
	default_schema="information_schema"
	stacksize=1048576
	server_version="5.5.30"
	connect_timeout_server=3000
	# make sure to configure monitor username and password
	# https://github.com/sysown/proxysql/wiki/Global-variables#mysql-monitor_username-mysql-monitor_password
	monitor_username="pr_muser"
	monitor_password="pr_mpass"
	monitor_history=600000
	monitor_connect_interval=60000
	monitor_ping_interval=10000
	monitor_read_only_interval=1500
	monitor_read_only_timeout=500
	ping_interval_server_msec=120000
	ping_timeout_server=500
	commands_stats=true
	sessions_sort=true
	connect_retries_on_failure=10
}

mysql_users = 
(
	{
		username = "pr_auser"
		password = "pr_apass"
		default_hostgroup = 0
	}
)

mysql_servers =
(
	{
		address = "10.6.0.10"
		port = 3306
		weight = 1
		hostgroup = 0
		max_connections = 50
	},
	{
		address = "10.6.0.11"
		port = 3306
		weight = 2
		hostgroup = 1
		max_connections = 100
	},
	{
		address = "10.6.0.12"
		port = 3306
		weight = 2
		hostgroup = 1
		max_connections = 150
	}
)

#defines MySQL Query Rules
mysql_query_rules:
(
	{
		rule_id=1
		active=1
		match_pattern="^SELECT .* FOR UPDATE$"
		destination_hostgroup=0
		apply=1
	},
	{
		rule_id=2
		active=1
		match_pattern="^SELECT"
		destination_hostgroup=1
		apply=1
	}
)